<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gr232.restaurantadmin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.NewDishActivity"></activity>
        <activity android:name=".activities.MenuActivity" />
        <activity
            android:name=".activities.ViewHallActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activities.HallActivity"
            android:screenOrientation="sensorLandscape" />
        <activity android:name=".activities.EmployeeInfoActivity" />
        <activity android:name=".activities.EditEmployeeActivity" />
        <activity android:name=".activities.NewEmployeeActivity" />
        <activity android:name=".activities.EmployeesListActivity" />
        <activity android:name=".activities.MainMenuActivity" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>